@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************** Menu icon **************************************/
.menuBar1, .menuBar2, .menuBar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .menuBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .menuBar2 {opacity: 0;}
  
  .change .menuBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/***************************************************************************************/

/************************************** Top menu choice **************************************/
.bgimg {
  background-image: url('../src/img/testimg.jpg');
}
.bgimg:hover {
  display: hide;
}
.topMenuItem {
  @apply bgimg h-32 flex flex-col items-center border-solid border-b-2 border-red-500 hover:border-red-700
}

.header {
  @apply flex justify-center bg-red-500  
}

.menuExpand {
  @apply h-screen
}

/* .menuTest {
  @apply h-56
} */
/*********************************************************************************************/

/************************************** Menu button **************************************/



/*****************************************************************************************/



/************************************** Animations **************************************/

/****************************************************************************************/

/************************************** Keyframes **************************************/

/***************************************************************************************/


